@import url("general.css");

.ul_navegacion {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content:space-between;
}

.li_navegacion {
    float: left;
    align-items: center;
}

.a_nav {
    display: block;
    padding: 8px;
    background-color: #424040;
  }