/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

/* --------------- APARTADO FOTOS --------------- */
/* --------------- C贸mo se muestran las fotos --------------- */
#fotos {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#fotos img {
    width: 18vw;
    height: 27vh;
    border-radius: 8px;
    border: solid white;
}

#fotos img:hover {
    -webkit-transform: scale(1.2);
}

/* --------------- C贸mo reaccionan las fotos --------------- */
.active_tab {
    border: solid white;
    -webkit-transform: scale(1.1);
    border-radius: 10px;
}
  
.hidden_tab {
    background-color: transparent;
}
  
.hidden_tab:hover {
    /* border: solid white 5px; */
    border-radius: 10px;
}

/* --------------- APARTADO INFO --------------- */
/* --------------- C贸mo se muestra la informaci贸n personal --------------- */
#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hidden_sect {
    display: none;
}
  
.active_sect {
    display: block;
    background-color: white;
    margin-top: 5vh;
    /* height: inherit; */
    /* width: fit-content; */
    /* object-fit: fill; */
}
