/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

.box {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  /*align-content: center;
  /*text-align: center;*/
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 7em;
}

.hijos_box{
  margin-top: 6vh;
  flex-grow: 0.6;
}

.parrafo{
  color: white;
  font-size: 0.9em;
  margin-bottom: 1.5em;
}

.titulo{
  margin-bottom: 2vh;
  margin-top: 2vh;
  color: rgb(139, 128, 128);

}

ul{
  margin-left: 1em;
}

.lista{
  margin-bottom: 0.6vh;
  color: yellow;
  list-style-type: none;
}
