/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

.box {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.intro {
  margin-top: 9vh;
  flex-grow: 0.6;
}
.objetivo{
  margin-top: 6vh;
  flex-grow: 0.6;
}

.parrafo{
  color: white;
  padding: 20;
  font-size: 1.2em;
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.3);
  background:rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background:rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.titulo{
  margin-bottom: 2vh;
  text-align: center;
  color: red;
}

.controles{
  margin-top: 6vh;
  flex-grow: 0.6;
}

.tabla{
  color: white;
  /*text-align: center;
  align-content: center;*/
  width: 100%;
  border-collapse: separate;
  border-spacing: 10em 0.7em;
  font-size: 1.2em;
}

.filas{
  text-align: center;
}
.img{
  padding: 2%;
  border:4px solid rgb(255, 0, 0);
  width: 400px;
  height: 150px;
}

