/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

.box {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.intro {
  margin-top: 9vh;
  flex-grow: 0.6;
}
.objetivo{
  margin-top: 6vh;
  flex-grow: 0.6;
}

.parrafo{
  color: white;
  font-size: 1.2em;
}

.titulo{
  margin-bottom: 2vh;
  text-align: center;
  color: red;
}

.controles{
  margin-top: 6vh;
  flex-grow: 0.6;
}

.tabla{
  color: white;
  text-align: center;
  margin:auto;
  border-collapse: separate;
  border-spacing: 20em 0.7em;
}
