/* ESTILOS GENERALES DE TODAS LAS PÁGINAS */

/* --------------- Estilos HTML --------------- */
* { /* Reseteo los márgenes dentro y fuera de los contenedores a 0 */
    padding: 0;
    margin: 0;
}

@font-face {  /* Se importa la fuente de letra "game over" */
  font-family: game_over;
  src: url(../res/Rixel.otf);
}

html {
    overflow-y: auto; /* Cómo se comporta el contenido de la página cuando este desborda del contenedor */
    background-image: url(../img/fondo_menu.jpg); /* La imagen de fondo va a ser la misma para todas las páginas */
    background-repeat: no-repeat; /* Hacemos que la imagen no se repita */
    background-size: cover; /* Dimensiona la imagen al tamaño de la página */
    background-attachment: fixed; /* La imagen no se desplaza al hacer scroll */
    font-family: game_over;
  }

/* --------------- Tamaños "alien_logo" del header --------------- */
.alien_nav img{  /* Icono Alien return "menu.html" (NAV) */
    width: 25px;
    height: 25px;
    /* justify-content: center; */
    /* margin-left: 25px;
    margin-top: 15px; */
}

.alien_mj img { /* Icono Alien return "menu.html" (menu.html y juego.html) */
  margin-left: 2vw;
  /* margin-right: 2vw; */
  margin-top: 3vh;
  align-items: center;
  width: 80px;
  height: 88px;
}

/* --------------- Estilos nav de las páginas --------------- */
.ul_navegacion {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content:space-between;
  overflow: hidden;
  background-color: #0b0553;
  position: sticky
}

.li_navegacion {
  float: left;
}

#a_nav {
  display: block;
  padding: 20px;
  background-color: #0b0553;
  font-size: 21px;
  text-decoration: none; /* quita la linea de debajo de la lista */
  list-style-type: none; /* quita los puntos de delante */
  color: white;
}
