/* ESTILOS GENERALES DE TODAS LAS PÁGINAS */
* {
    padding: 0;
    margin: 0;
}

html {
    overflow-y: auto;
    background-image: url(../img/fondo_menu_def.jpg);
    background-repeat: no-repeat; /*Hacemos que la imagen no se repita*/
    background-size: cover; /*Las líneas son para asegurarse que cubre toda la pantalla*/
    background-attachment: fixed;
    font-family: game_over;
  }

/* Imagen vuelta home (logo alien) */
.alien img{  /*Icono Alien return "menu"*/
    width: 80px;
    height: 88px;
    /* justify-content: center; */
    /* margin-left: 25px;
    margin-top: 15px; */
}
