@import url("general.css");

#alien_j img { 
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
    width: 80px;
    height: 88px;
}

#SpaceCanvas{
    margin: 0 auto;
    display: block;
    border: 2px solid yellow;
}