/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

.img_vida {
    width: 30px;
    height: 33px;
    margin-left: 5%;
}

.pierdo_vida {
    width: 30px;
    height: 33px;
    display: none;
    /* visibility: hidden; */
}

#SpaceCanvas{
    margin: 0 auto;
    display: block;
    border:4px solid rgb(255, 0, 0);
}

.header {
	display: flex;
	align-items: center;
    flex-direction: row;
}

#alien_j {
    flex-grow: 1.5;
}

.titulo {
    flex-grow: 1.8;
    color: rgb(255, 255, 255);
    justify-content: center;
    /* margin-left: 52vh; */
    text-shadow: 0 0 9px #ff5e00, 0 0 15px #ff0000;
    font-size: 5vh;
}

.interfaz {
    width: auto;
    display: flex;
    margin: auto;
    justify-content:space-between;
    flex-wrap: wrap;
}

.item{
    flex: none;
    width: 20%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.vidas > h3 {
    color: white;
    font-size: 30px;
    margin-left: 3vw;
}

.puntuaciones > h3 {
    color: white;
    font-size: 30px;
}

#puntos {
    color: white;
    margin-left: 5%;
    font-size: 30px;
}


#boton1, #boton2{
    display: flex;
    flex-direction: column;
    /*tipo de letra*/
    font-family: game_over;
    src: url(../res/Rixel.otf);
    /*formato boton*/
    color:white;
    padding: 8px;
    font-size: 30px;
    box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.3);
    background:rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(2px);   
}

/* AUDIO */

#play,#stop {

    display:inline-block;
      padding:16px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 5px;
  
  }
  
  iframe{
    display: none;
  }
