/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

#SpaceCanvas{
    margin: 0 auto;
    display: block;
    border:4px solid rgb(255, 0, 0);
}

.header {
	display: flex;
	align-items: center;
    flex-direction: row;
}

#alien_j {
    flex-grow: 1.5;
}

.titulo {
    flex-grow: 1.8;
    color: rgb(255, 255, 255);
    justify-content: center;
    /* margin-left: 52vh; */
    font-size: 5vh;
}