@import url("general.css");

/* ----- SECCIONES HTML ----- */
html{
  overflow-y: auto;
  background-image: url(../img/fondo_menu_def.jpg);
  background-repeat: no-repeat; /*Hacemos que la imagen no se repita*/
  background-size: cover; /*Las líneas son para asegurarse que cubre toda la pantalla*/
  background-attachment: fixed;
  font-family: game_over;
}

.header {
	display: flex;
	/*justify-content: ; para alinear los elementos del contenedor*/
	align-items: center;
  justify-content: space-around;
}

/*.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 620px;
}*/

.inicio{ 
  align-items: center;
  padding-top: 10px;
  flex-grow: 1;
}

.inicio img{  /*Icono Alien return "menu"*/
  width: 80px;
  height: auto;
  margin-left: 25px;
  margin-top: 15px;
}

.titulo {
  flex-grow: 2;
}

.github {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.github img {
  width: 80px;
  height: 80px;
  margin-right: 25px;
  margin-top: 15px;
}

/* ----- LISTA DEL MENÚ ----- */
.div_lista {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

li:last-child {
    border-right: none;
 }

li a {
  margin-top: 10px;
  display: block; /*Allows us to specify padding (and height, width, margins, etc. if you want)*/
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 22px; /*Specify some padding between each <a> element, to make them look good. 14px=espacio entre lineas y 16px= */
  text-decoration: none;
}

li h3 a:hover {                 /*Cambiamos el color cuando pasamos el raton*/
  color: rgb(223, 248, 0); /*223,248,0*/
}

/*.active { Clase para saber que apartado del menu esta activo
  color: #1900ff;
}*/

/* ----- TEXTO ----- */
/*p{
  background-color: white;
}*/

h1{
  margin-bottom: 40px;
  font-size: 150px;
  color: rgb(255, 255, 255);
  justify-content: left;
}

div.titulo{
    text-align: center;
    justify-content: center;
}


@font-face {
  font-family: game_over;
  src: url(../res/Rixel.otf);
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
h3:hover {
  color: hsla(0, 0%, 0%, .9);
  font: normal 36px Varela Round, sans-serif;
  height: 80px;
  left: 0;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: game_over;

  width: 100%;
  animation: move linear 2000ms infinite;
}

h3{
  font-size: 36px;
  margin-bottom: 15px;
}

.boton_play{
  font-size: 50px;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}
