@import '/css/general.css';


.div_lista {

    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.header{

		display: flex;
		/*justify-content: ; para alinear los elementos del contenedor*/
		align-items: center;
  }

  .footer{
		display: flex;
		/*justify-content: space-between;*/
		align-items: center;
		margin-left: 620px;
	}

.inicio img{
		width: 80px;
		height: auto;
	}

	.inicio{
		align-items: center;
    padding-top: 10px;

	}



li:last-child {
    border-right: none;
  }

li a{
    display: block; /*Allows us to specify padding (and height, width, margins, etc. if you want)*/
    color: white;
    text-align: center;
    padding: 14px 22px; /*Specify some padding between each <a> element, to make them look good. 14px=espacio entre lineas y 16px= */
    text-decoration: none;
  }

  li a:hover { /*Cambiamos el color cuando pasamos el raton*/
    color: rgb(223, 248, 0);
  }

  /*.active { Clase para saber que apartado del menu esta activo
    color: #1900ff;
  }*/

  html{
      background-image: url(../img/fondo_menu.jpeg);
      background-repeat: no-repeat; /*Hacemos que la imagen no se repita*/
      background-size: cover; /*Linea 37 y 38 es para asegurarse que cubre toda la pantalla*/
      background-attachment: fixed;
      font-family: game_over;
  }

  p{
      background-color: white;
  }

  @font-face {
    font-family: game_over;
    src: url(../res/Rixel.otf);
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

h1:hover {
  color: hsla(0, 0%, 0%, .9);
  font: normal 20px Varela Round, sans-serif;
  height: 50px;
  left: 0;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: game_over;

  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}
