/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

/* --------------- TODO EL DOCUMENTO --------------- */
a img { /* imágenes con enlace */
  align-content: center;
  justify-content: center;
}

/* --------------- HEADER --------------- */
.header {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.titulo {
  /* margin-right: 3vw; */
  /* flex-grow: 2; */
  align-items: center;
  text-align: center;
  justify-content: center;
  /* overflow: hidden; */
}

.github {  /* contenedor icono */
  /* flex-grow: 1; */
  align-items: center;
}

.github img { /* imagen icono */
  width: 80px;
  height: 80px;
  /* float: right; */
  margin-right: 2vw;
  /* margin-right: 25px;
  margin-top: 15px; */
}

/* --------------- BOTÓN "PLAY" --------------- */
.button_play { /* imagen play menu inicio */
  margin-top: 6vh;
  margin-bottom:5vh;
  height: 120px;
  width: 350px; 
  animation: parpadeo 1.2s infinite alternate;
}

@keyframes parpadeo { /* funcion parpadeo boton play */
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/* --------------- MENÚ PRINCIPAL --------------- */
/* --------------- Lista --------------- */
ul {
  list-style-type: none; /* Elimina los puntos de antes de una lista */
  margin: 0;
  padding: 0;
  overflow:hidden;
  text-align: center;
  justify-items: center;
}

.div_lista {
  display: flex;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a_menu {
  margin-top: 10px;
  display: block; /*Allows us to specify padding (and height, width, margins, etc. if you want)*/
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 22px; /*Specify some padding between each <a> element, to make them look good. 14px=espacio entre lineas y 16px= */
  text-decoration: none;
}

.a_menu:hover { /*Cambiamos el color cuando pasamos el raton*/
  color: rgb(223, 248, 0);
}

/* ----- Texto lista menú general ----- */
h1{
  /* margin-bottom: 40px; */
  font-size: 150px;
  color: rgb(255, 255, 255);
  /* justify-content: left; */
}

h3{
  font-size: 36px;
  margin-bottom: 15px;
}

/* --------------- Efectos elementos de la lista --------------- */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
h3:hover {
  color: hsla(0, 0%, 0%, .9);
  font: normal 36px Varela Round, sans-serif;
  height: 80px;
  left: 0;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: game_over;

  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move { /* animación hover <li> menú */
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {
    text-shadow:
      -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
}
