/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

#letra{
  color: white;
}

#centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; /* En Firefox no se aplica bien el flex, y no se lee el pipeline */
}

.div{
  text-align: center;
}
