/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

#letra{
    color: white;
}

#centrar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div{
  text-align: center;
}
