/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

#gst_video {
    border: 3px solid yellow;

}
#letra{
    color: white;
}

#centrar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.div{
  text-align: center;
}
