@import url("general.css");

.linavegacion{
  display: inline;
  font-size: 1.3em;
  color: white;
}

.a{
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 1.3em;

}

.li_ref_top{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.li_ref{
  padding-bottom: 0.8em;
}


.anav{
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;

}

.colRed{
		background: rgb(200,22,22);
    flex-grow: 1;

	}
.colBlue{
		background: blue;
    flex-grow: 1.5;
	}
.colYellow{
		background: yellow;
    flex-grow: 1;
	}

  .ul{
    list-style-type: none; /*Elimina los puntos de antes de una lista*/
    margin: 0;
    padding: 0;
    overflow:hidden;

  }
