@import url("general.css");


.container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;

}

.colKhaki{
		background: blue;
	}
.colGreen{
		background: limeGreen;
	}
.colSalmon{
		background: rgb(200,22,22);
	}

  ul {
    list-style-type: none; /*Elimina los puntos de antes de una lista*/
    margin: 0;
    padding: 0;
    overflow:hidden;

  }

  li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
  }

  
