@import url("general.css");

.linavegacion{
  display: inline;
  font-size: 1.3em;
  color: white;
}

.a{
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.anav{
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;

}

.colRed{
		background: rgb(200,22,22);
	}
.colBlue{
		background: blue;
	}
.colYellow{
		background: yellow;
	}

  .ul{
    list-style-type: none; /*Elimina los puntos de antes de una lista*/
    margin: 0;
    padding: 0;
    overflow:hidden;

  }
