/* SE IMPORTA LA HOJA DE ESTILOS GENERAL */
@import url("general.css");

/* --------------- Contenedor de los tres apartados --------------- */
.titulos {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;
  padding-top: 2em;
}

.titulo_html {
  margin-top: 5vh;
  flex-grow: 0.6;
}
.titulo_css {
  margin-top: 5vh;
  flex-grow: 0.7;
}
.titulo_js {
  margin-top: 5vh;
  flex-grow: 1.1;
}

#html {
    width: 22vw;
    height: 20vh;
}

#css {
    width: 18vw;
    height: 20vh;
}
#js {
    width: 13vw;
    height: 20vh;
}

.referencias {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  text-align: center;
  padding-top: 1em;
}

/* --------------- Apartados --------------- */
.html {
  background: rgb(200,22,22);
  flex-grow: 1;
}
.css {
  background: blue;
  flex-grow: 1.5;
}
.js {
  background: rgb(230, 230, 0);
  flex-grow: 1;
}

/* --------------- Listas de referencias --------------- */
.ul_referencias {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

.li_ref_top {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.li_ref {
  padding-bottom: 0.8em;
}

.a_ref {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 1.3em;
}

.a_ref:hover {
  color: white;
}
