*{
    cursor: url(../img/cursor.png), auto;

}
body {
    background-image: url(../res/roger.gif);
    background-repeat: repeat;
}

div{
    text-align: center;
}

.alien_nav{
    width: 15vh;
    height: 15vh;
    margin-top: 40vh;
    margin-left: 18vw;
}