
body {
    background-image: url(../res/roger.gif);
    background-repeat: repeat;
   /* background-repeat: no-repeat; 
    background-size: cover;  // Para que ocupe el 100% del contain */
    
}

div{
    text-align: center;
}

.alien_nav{
    width: 15vh;
    height: 15vh;
    margin-top: 40vh;
    margin-left: 18vw;
}