
body {
    background-image: url(../res/roger-american-dad.mp4);
    background-repeat: repeat;
    background-position: 100vh;
    background-size: contain;
}

div{
    text-align: center;
}

.alien_nav{
    width: 15vh;
    height: 15vh;
    margin-top: 35vh;
}