@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #212025;

}

.container_cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 20%;
    transform: translate (-50%, -50%);
}

.card {
    width: 500px;
    margin: 30px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background:rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300;
}

.card:hover{
   transform: translateY(-10px);

}
.card:hover .portada img{
    transform: scale(1.1);

}

.portada {
    width: 100%;
    height: auto;
    border-radius: 14px;
    overflow: hidden;
}

.portada img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: bold; 
    margin-top: 20px;
    text-align: center;
    color: white;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border:none;
    height: 0.2px;
    background: #41414138;
}

.footer_card{
    margin-top: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.footer_card h3{
    font-size: 15px;
    font-weight: 500;
}

/*PARA HACER LA WEB RESPONSIVE*/
@media screen and (max-width:1200px){
    .container_cards{
        position: relative;
        top:0;
        left: 0;
        transform:none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}